* {
  /* font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  /* font-family: cursive; */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: Yuppy,'雅痞-简','雅痞-繁',MiSans,'阿里巴巴普惠体 2.0','造字工房悦黑（非商用）','汉仪晓波折纸体简','锐字云字库准圆体1.0',XHei,新丽黑,文泉驿等宽正黑,文泉驿正黑,新丽黑,微软雅黑,Arial,SimSun,sans-serif;
}

/* 圆角优化 */
.mdui-card {
  box-shadow: inset 0 0 5px rgb(187 198 255);
  border-radius: 10px;
  background: rgb(65 84 179 / 10%);
}

/* 关闭登陆按钮 */
.mdui-toolbar > a.mdui-hidden-xs{
  display: none !important;
}

/* 卡片标题 */
.mdui-card-primary {
  padding: 24px 16px 8px 16px;
    border-bottom: 1px solid #4154b336;
    padding-top: 12px !important;
}
/* 卡片标题 -黑夜*/
.mdui-theme-layout-dark .mdui-card-primary {
  border-bottom: 1px solid #ffffff26;
}

/* 卡片简介 */
.link-content {
  -webkit-line-clamp:3;
}

/* 卡片简介字体 */
.mdui-text-color-black-disabled, 
.mdui-text-color-theme-disabled {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* 卡片简介字体 -黑夜*/
.mdui-theme-layout-dark .mdui-text-color-black-disabled,
.mdui-theme-layout-dark .mdui-text-color-theme-disable{
  color: rgb(255 255 255 / 80%) !important;
}


/* 黑色风格-标题 */
.mdui-theme-layout-dark .mdui-card {

}

